
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000002;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.globe-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.globe-container canvas {
  max-width: 100%;
  height: auto !important;
}

.form-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(207, 225, 239);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.form-container h1 {
  margin-bottom: 2rem;
}

.input-row {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-row input{
  background-color: #99a5d2
}

.input-row input,
.input-row button {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
}

.input-row button {
  background-color: #1f3ca3;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-row button:hover {
  background-color: #2f54d3;
}

.status {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 1.5rem;
  }

  .globe-container {
    height: 50%;
  }

  .input-row input,
  .input-row button {
    width: 90%;
  }
}




